.chips-section {
    display: flex;
    align-items: center;
    padding-right: 24px; /* 오른쪽 여백 */
    padding-bottom: 8px; /* 아래 여백 - 가로 스크롤바와 겹침 방지*/
    gap: 12px; /* chip간 간격 */
    overflow-x: auto; /* 가로 스크롤바 허용 */
}

.chips-section::-webkit-scrollbar {
    height: 0; /* 스크롤바 높이(너비) == 0 == 숨김 */
}

/* 개별 chip 스타일 */
.chip {
    background-color: var(--chip-bg);
    border: 1px solid var(--border-color); /* --chip-bg와 동일 색상 */
    border-radius: 8px;
    padding: 8px 16px;

    font-size: var(--font-size-medium);
    font-weight: 500;

    color: var(--text-primary);
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s;

    line-height: 1;
}

.chip:hover {
    background-color: var(--chip-hover-bg);
    color: var(--bg-primary);
    border-color: var(--chipa-hover-bg);
}